@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    
    --blue:#064BB5;
    --green:#BCFF5E;

}
*{
    font-family: 'poppins', sans-serif;
    
}
#bg1{
    width: 100%;
    background-color: var(--blue);

}
nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 75px;    
}
ul{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;  
}
nav a:hover{
    color: var(--green);
}
header{
    background-color: var(--green);
    color: black;
}
header h1{
    font-size: 52px;
}

header p{
    font-family: 18px;
    width: 95%;
    text-align: start;
}
#header-org{
    max-width: 1700px;
    display: flex;
    margin: 0 auto;
    padding: 0;
}
button{
    background-color: var(--blue);
    color: white;
    border-radius: 16px;
    border-style: none;
    height: 58px;
    width: 70%;
    margin-top: 20px;
}
button:hover{
    background-color: #0754c9;
}
#content1{
    margin: auto ;
    width: 33%;
}
span{
    font-weight: bold;
}
#dog{
    margin: 0;
}
h2{
    color: black;
    font-size: 48px;
    text-align: center;
    margin: 90px auto 20px auto;
}
p{
    font-family: 18px;
    color: black;
    text-align: center;
}
#serviços{
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}
#galeria{
    background-color: var(--green);
    background-size: 100%;
    display: flex;
    justify-content: center;

}
#content-galeria{
    max-width: 1700px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;

}
#one, #two, #trhee, #four{
    max-width: 350px;
    margin: 30px 30px 15px 30px;
}
#produtos{
    justify-content: center;
    margin: auto;
}
img{
    margin-bottom: 20px;
}


 .slider{
    display: flex;
    justify-content: center;
    gap: 2%;
 }
.slider img{
    height: 70px;
    border-radius: 10px;
    border: 5px solid #BCFF5E;

}
.slider img:hover{
    border: 5px solid #064BB5;

}
#destaque{
    height: 500px;
    align-self: center;
    margin-top: 20px;
}
img{
    margin-bottom: 20px;
}
#galeria p{
    max-width: 1200px;

}
#contatos{
    display: flex;
    align-items: center;
    max-width: 1000px;
    flex-direction: column;
    margin: auto;

}
#content{
    display: flex;
    align-items: center;
    gap: 20px;

    
}
#formulario p, header p{
    text-align: start;
}
#formulario{
    margin: auto;
}
footer{
    background-color: #BCFF5E;
    margin: 0;
    padding: 15px;
    text-align: center;
}
h3{
    font-size: 18px;
    margin: 0;
}