@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    
    --blue:#064BB5;
    --green:#BCFF5E;

}
*{
    font-family: 'poppins', sans-serif;
}
nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    height: 75px;
    background-color: var(--blue);
    
}
ul{
    list-style: none;
    

}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
header{
    display: flex;
    justify-content: space-around;
    background-color: var(--green);
    color: black;
}
header h1{
    font-size: 52px;
}
header p{
    font-family: 18px;
    width: 90%;
}
.btn{
    background-color: '$blue-700';
    
}
#content1{
    margin: auto;
    width: 33%;
}
span{
    font-weight: bold;
}
h2{
    color: black;
    font-size: 48px;
    text-align: center;
    margin: 90px auto 20px auto;
}
p{
    font-family: 18px;
    color: black;
    text-align: center;
}
section{
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}
#galeria{
    background-color: var(--green);
    background-size: 100%;

}
#one, #two, #trhee, #four{
    max-width: 350px;
    margin: 30px 30px 15px 30px;
}
#produtos{
    justify-content: center;
    margin: auto;
}
img{
    margin-bottom: 20px;
}